makedotcom/ni-capsule-blueprint.json
{
    "name": "Next Identity to Capsule (Transactional Workflow Decode)",
    "flow": [
        {
            "id": 13,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 497219,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -243,
                    "y": -184
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Next Identity Workflow",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "text"
                    },
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "if POST",
                "conditions": [
                    [
                        {
                            "a": "{{13.`__IMTMETHOD__`}}",
                            "o": "text:equal",
                            "b": "POST"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "jwt",
                "scope": "roundtrip",
                "value": "{{split(13.value; \".\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 4,
                    "y": 80
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "jwt",
                        "type": "any",
                        "label": "jwt"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "id_token",
                "scope": "roundtrip",
                "value": "{{toString(toBinary(2.jwt[2]; \"base64\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 212,
                    "y": -128
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "id_token",
                        "type": "any",
                        "label": "id_token"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{9.id_token}}"
            },
            "metadata": {
                "designer": {
                    "x": 407,
                    "y": 85
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "capsule-crm:createParty",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2103173
            },
            "filter": {
                "name": "if register",
                "conditions": [
                    [
                        {
                            "a": "{{first(keys(11.events))}}",
                            "b": "account/v1/register",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "tags": [],
                "type": "person",
                "about": "",
                "title": "",
                "fields": [],
                "websites": [],
                "addresses": [],
                "job_title": "",
                "last_name": "",
                "first_name": "{{11.events.`account/v1/register`.firstName}}",
                "organisation": 268352317,
                "phoneNumbers": [],
                "emailAddresses": [
                    {
                        "type": "",
                        "address": "{{11.events.`account/v1/register`.email}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 641,
                    "y": -119
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "type": {
                            "label": "Person"
                        },
                        "title": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "websites": {
                            "mode": "chose"
                        },
                        "addresses": {
                            "mode": "chose"
                        },
                        "organisation": {
                            "mode": "chose",
                            "label": "Free Trial Prospects"
                        },
                        "phoneNumbers": {
                            "mode": "chose"
                        },
                        "emailAddresses": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "capsule-crm"
                            },
                            "label": "Make Integration (nszytel)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:capsule-crm",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "person",
                                "organisation"
                            ]
                        }
                    },
                    {
                        "name": "about",
                        "type": "text",
                        "label": "About"
                    },
                    {
                        "name": "emailAddresses",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Type",
                                    "options": [
                                        {
                                            "label": "Home",
                                            "value": "Home"
                                        },
                                        {
                                            "label": "Work",
                                            "value": "Work"
                                        }
                                    ]
                                },
                                {
                                    "name": "address",
                                    "type": "email",
                                    "label": "Address",
                                    "required": true
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Email addresses"
                    },
                    {
                        "name": "addresses",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Home",
                                        "value": "Home"
                                    },
                                    {
                                        "label": "Postal",
                                        "value": "Postal"
                                    },
                                    {
                                        "label": "Office",
                                        "value": "Office"
                                    }
                                ]
                            },
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "country",
                                "type": "select",
                                "label": "Country",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Zip"
                            }
                        ],
                        "type": "array",
                        "label": "Addresses"
                    },
                    {
                        "name": "phoneNumbers",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Home",
                                        "value": "Home"
                                    },
                                    {
                                        "label": "Work",
                                        "value": "Work"
                                    },
                                    {
                                        "label": "Mobile",
                                        "value": "Mobile"
                                    },
                                    {
                                        "label": "Fax",
                                        "value": "Fax"
                                    },
                                    {
                                        "label": "Direct",
                                        "value": "Direct"
                                    }
                                ]
                            },
                            {
                                "name": "number",
                                "type": "text",
                                "label": "Number",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Phone numbers"
                    },
                    {
                        "name": "websites",
                        "spec": [
                            {
                                "name": "service",
                                "type": "select",
                                "label": "Service",
                                "options": [
                                    {
                                        "label": "URL",
                                        "value": "URL"
                                    },
                                    {
                                        "label": "Skype",
                                        "value": "SKYPE"
                                    },
                                    {
                                        "label": "Twitter",
                                        "value": "TWITTER"
                                    },
                                    {
                                        "label": "LinkedIn",
                                        "value": "LINKED_IN"
                                    },
                                    {
                                        "label": "Facebook",
                                        "value": "FACEBOOK"
                                    },
                                    {
                                        "label": "Xing",
                                        "value": "XING"
                                    },
                                    {
                                        "label": "Feed",
                                        "value": "FEED"
                                    },
                                    {
                                        "label": "Google+",
                                        "value": "GOOGLE_PLUS"
                                    },
                                    {
                                        "label": "Flickr",
                                        "value": "FLICKR"
                                    },
                                    {
                                        "label": "Github",
                                        "value": "GITHUB"
                                    },
                                    {
                                        "label": "Youtube",
                                        "value": "YOUTUBE"
                                    },
                                    {
                                        "label": "Instagram",
                                        "value": "INSTAGRAM"
                                    },
                                    {
                                        "label": "Pinterest",
                                        "value": "PINTEREST"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "address",
                                "type": "text",
                                "label": "Address",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Home",
                                        "value": "Home"
                                    },
                                    {
                                        "label": "Work",
                                        "value": "Work"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Websites"
                    },
                    {
                        "name": "tags",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            }
                        ],
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "definition",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Custom field",
                                        "dynamic": true,
                                        "options": [],
                                        "required": true
                                    }
                                ],
                                "type": "collection",
                                "label": "Definition"
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Custom Fields"
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First name"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last name"
                    },
                    {
                        "name": "title",
                        "type": "select",
                        "label": "Title",
                        "validate": {
                            "enum": [
                                "Mr",
                                "Master",
                                "Mrs",
                                "Miss",
                                "Ms",
                                "Dr",
                                "Prof"
                            ]
                        }
                    },
                    {
                        "name": "job_title",
                        "type": "text",
                        "label": "Job name"
                    },
                    {
                        "name": "organisation",
                        "type": "select",
                        "label": "Organisation ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}