makedotcom/ni_config_blueprint.json
{
    "name": "Next Identity Integration to Capsule",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 458275,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -387,
                    "y": -45
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Next Identity Workflow Receive"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "amazon-lambda:invokeAFunction",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2102985
            },
            "mapper": {
                "body": "{\"token\":\"{{2.value}}\"}",
                "function": "verifyJwtJs",
                "InvocationType": "RequestResponse"
            },
            "metadata": {
                "designer": {
                    "x": 5,
                    "y": -48
                },
                "restore": {
                    "expect": {
                        "function": {
                            "mode": "chose",
                            "label": "verifyJwtJs ($LATEST)"
                        },
                        "InvocationType": {
                            "mode": "chose",
                            "label": "Request Response"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "amazon-lambda"
                            },
                            "label": "Lambda Connection (US-East Ohio)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:amazon-lambda",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "function",
                        "type": "select",
                        "label": "Function Name",
                        "required": true
                    },
                    {
                        "name": "InvocationType",
                        "type": "select",
                        "label": "Invocation Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "RequestResponse",
                                "Event",
                                "DryRun"
                            ]
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://NEXTIDENTITY-ISS-URL.com/idp/v1/account/users/find",
                "serializeUrl": false,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "{{var.input.ni_api_key}}"
                    }
                ],
                "qs": [
                    {
                        "name": "query_filter",
                        "value": "uuid='{{19.body.`account/v1/userAuthenticationAction`.sub}}'"
                    },
                    {
                        "name": "client_id",
                        "value": "{{19.body.`account/v1/userAuthenticationAction`.clientId}}"
                    },
                    {
                        "name": "attributes",
                        "value": "[\"uuid\", \"givenName\", \"familyName\", \"email\"]"
                    }
                ],
                "bodyType": "",
                "parseResponse": true,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 383,
                    "y": -49
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "capsule-crm:createParty",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2095237
            },
            "mapper": {
                "tags": [],
                "type": "person",
                "about": "",
                "title": "",
                "fields": [],
                "websites": [],
                "addresses": [],
                "job_title": "",
                "last_name": "{{4.data.results[].familyName}}",
                "first_name": "{{4.data.results[].givenName}}",
                "organisation": 268352317,
                "phoneNumbers": [],
                "emailAddresses": [
                    {
                        "type": "",
                        "address": "{{4.data.results[].email}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 758,
                    "y": -55
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "type": {
                            "label": "Person"
                        },
                        "title": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "websites": {
                            "mode": "chose"
                        },
                        "addresses": {
                            "mode": "chose"
                        },
                        "organisation": {
                            "mode": "chose",
                            "label": "Free Trial Prospects"
                        },
                        "phoneNumbers": {
                            "mode": "chose"
                        },
                        "emailAddresses": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "capsule-crm"
                            },
                            "label": "My Capsule CRM connection (nszytel)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:capsule-crm",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "person",
                                "organisation"
                            ]
                        }
                    },
                    {
                        "name": "about",
                        "type": "text",
                        "label": "About"
                    },
                    {
                        "name": "emailAddresses",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Type",
                                    "options": [
                                        {
                                            "label": "Home",
                                            "value": "Home"
                                        },
                                        {
                                            "label": "Work",
                                            "value": "Work"
                                        }
                                    ]
                                },
                                {
                                    "name": "address",
                                    "type": "email",
                                    "label": "Address",
                                    "required": true
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Email addresses"
                    },
                    {
                        "name": "addresses",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Home",
                                        "value": "Home"
                                    },
                                    {
                                        "label": "Postal",
                                        "value": "Postal"
                                    },
                                    {
                                        "label": "Office",
                                        "value": "Office"
                                    }
                                ]
                            },
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "country",
                                "type": "select",
                                "label": "Country",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Zip"
                            }
                        ],
                        "type": "array",
                        "label": "Addresses"
                    },
                    {
                        "name": "phoneNumbers",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Home",
                                        "value": "Home"
                                    },
                                    {
                                        "label": "Work",
                                        "value": "Work"
                                    },
                                    {
                                        "label": "Mobile",
                                        "value": "Mobile"
                                    },
                                    {
                                        "label": "Fax",
                                        "value": "Fax"
                                    },
                                    {
                                        "label": "Direct",
                                        "value": "Direct"
                                    }
                                ]
                            },
                            {
                                "name": "number",
                                "type": "text",
                                "label": "Number",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Phone numbers"
                    },
                    {
                        "name": "websites",
                        "spec": [
                            {
                                "name": "service",
                                "type": "select",
                                "label": "Service",
                                "options": [
                                    {
                                        "label": "URL",
                                        "value": "URL"
                                    },
                                    {
                                        "label": "Skype",
                                        "value": "SKYPE"
                                    },
                                    {
                                        "label": "Twitter",
                                        "value": "TWITTER"
                                    },
                                    {
                                        "label": "LinkedIn",
                                        "value": "LINKED_IN"
                                    },
                                    {
                                        "label": "Facebook",
                                        "value": "FACEBOOK"
                                    },
                                    {
                                        "label": "Xing",
                                        "value": "XING"
                                    },
                                    {
                                        "label": "Feed",
                                        "value": "FEED"
                                    },
                                    {
                                        "label": "Google+",
                                        "value": "GOOGLE_PLUS"
                                    },
                                    {
                                        "label": "Flickr",
                                        "value": "FLICKR"
                                    },
                                    {
                                        "label": "Github",
                                        "value": "GITHUB"
                                    },
                                    {
                                        "label": "Youtube",
                                        "value": "YOUTUBE"
                                    },
                                    {
                                        "label": "Instagram",
                                        "value": "INSTAGRAM"
                                    },
                                    {
                                        "label": "Pinterest",
                                        "value": "PINTEREST"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "address",
                                "type": "text",
                                "label": "Address",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Home",
                                        "value": "Home"
                                    },
                                    {
                                        "label": "Work",
                                        "value": "Work"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Websites"
                    },
                    {
                        "name": "tags",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            }
                        ],
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "definition",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Custom field",
                                        "dynamic": true,
                                        "options": [],
                                        "required": true
                                    }
                                ],
                                "type": "collection",
                                "label": "Definition"
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Custom Fields"
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First name"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last name"
                    },
                    {
                        "name": "title",
                        "type": "select",
                        "label": "Title",
                        "validate": {
                            "enum": [
                                "Mr",
                                "Master",
                                "Mrs",
                                "Miss",
                                "Ms",
                                "Dr",
                                "Prof"
                            ]
                        }
                    },
                    {
                        "name": "job_title",
                        "type": "text",
                        "label": "Job name"
                    },
                    {
                        "name": "organisation",
                        "type": "select",
                        "label": "Organisation ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "name": "ni_api_key",
                "label": "",
                "type": "text",
                "default": "API_KEY_HERE",
                "required": false,
                "multiline": false
            }
        ],
        "output_spec": []
    }
}